Package: Adapta-Colorpack
Version: 202003172137
Architecture: all
Maintainer: José Henrique
Depends: gtk2-engines-pixbuf (>= 2.24.30), gtk2-engines-murrine (>= 0.98.1), libgtk2.0-common (>= 2.24.30), libgtk-3-common (>= 3.20.0)
Section: x11
Priority: optional
Homepage: https://github.com/Joshaby/Adapta-Colorpack
Description: Modified version of Adapta Theme created by Adapta Project
                        This theme use the ideia of Adapta Colorpack created by Ivankra, the main objective of this theme is the correction of missing things in stock and Ivankra version!

